:root{
  --degHour: 0;
  --degMin: 0;
  --degSec: 0;
}

body {
  background: #f6f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock{
  width: 500px;
  height: 500px;
  background: #7faeff center center no-repeat;
  position: relative;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 8rem 8rem rgba(132, 139, 200, 0.18);
  border: 10px solid aquamarine;
  transition: all 300ms ease;
}

.clock:hover{
  box-shadow: none;
}

.hours-hand,
.minutes-hand,
.seconds-hand {
  position: absolute;
  transform-origin: bottom;
  border-radius: 40%;
}

.hours-hand {
  width: 16px;
  height: 160px;
  background: #FFB841;
  border: 2px solid #FFA000;
  top: calc(50% - 160px);
  left: calc(50% - 8px);
  rotate: var(--degHour);
}
.minutes-hand {
  width: 10px;
  height: 220px;
  background: #FFB841;
  border: 2px solid #FFA000;
  top: calc(50% - 220px);
  left: calc(50% - 5px);
  rotate: var(--degMin);
}
.seconds-hand {
  width: 4px;
  height: 200px;
  background: #ff7ff8;
  border: 2px solid #de7fff;
  top: calc(50% - 200px);
  left: calc(50% - 2px);
  rotate: var(--degSec);
}
.seconds-hand::after {
  border-radius: 50%;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background: #ff7ff8;
  border: 2px solid #de7fff;
  position: absolute;
  bottom: -15px;
  left: -15px;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  color: #1bae2a;
}

.number::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 8px;
  background-color: aquamarine;
}

.clock .number1 {--rotation: 30deg}
.clock .number2 {--rotation: 60deg}
.clock .number3 {--rotation: 90deg}
.clock .number4 {--rotation: 120deg}
.clock .number5 {--rotation: 150deg}
.clock .number6 {--rotation: 180deg}
.clock .number7 {--rotation: 210deg}
.clock .number8 {--rotation: 240deg}
.clock .number9 {--rotation: 270deg}
.clock .number10 {--rotation: 300deg}
.clock .number11 {--rotation: 330deg}

.number1 div{
  transform: rotate(-30deg);
}

.number2 div{
  transform: rotate(-60deg);
}
.number3 div{
  transform: rotate(-90deg);
}
.number4 div{
  transform: rotate(-120deg);
}
.number5 div{
  transform: rotate(-150deg);
}
.number6 div{
  transform: rotate(-180deg);
  
}
.number7 div{
  transform: rotate(-210deg);
}
.number8 div{
  transform: rotate(-240deg);
}
.number9 div{
  transform: rotate(-270deg);
}
.number10 div{
  transform: rotate(-300deg);
}
.number11 div{
  transform: rotate(-330deg);
}


